@charset "UTF-8";

ul#album-fotos{
	width: 80%;
	margin: 0 auto;
	padding: 30px;
	overflow: hidden;
	list-style: none;
}

ul#album-fotos li{
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px;
	border: 5px solid rgba(0, 0, 0, .1);
	background-color: rgba(0, 0, 0, .4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0,.4);	
}

ul#album-fotos li span {
	opacity: 0;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0, 0, 0,.3);
	font-size: 9pt;
	line-height: 370px;
	padding: 5px;
}

ul#album-fotos li:hover {
	transform: scale(1.5);
	transition: all 0.4s ease-in;
}

ul#album-fotos li:hover span {
	opacity: 1;
}

ul#album-fotos li#foto01 {
	background: url('../img/javascript.jpg') no-repeat;
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0, .4);
}

ul#album-fotos li#foto01:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto02 {
	background: url('../img/python.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto02:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto03 {
	background: url('../img/certificado python.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto03:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto04 {
	background: url('../img/0001.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto04:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto05 {
	background: url('../img/php.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto05:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto06 {
	background: url('../img/ingles-2.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto06:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto07 {
	background: url('../img/cgames.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto07:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto08 {
	background: url('../img/espanhol.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto08:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}

ul#album-fotos li#foto09 {
	background: url('../img/wer.jpg') no-repeat;	
	background-position: 50% 50%;
	background-size: 400px 400px;	
	background-color: rgba(0, 0, 0,.4);
}

ul#album-fotos li#foto09:hover {
	background-position: 0px 0px;
	background-size: 200px 200px;
}
