@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*General */
a {
	text-decoration: none;
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}

.heavy {
	background-color: rgba(30, 30, 30);
}

.outheavy {
	background-color: rgba(20, 20, 20);
}

.dark {
	background-color: rgba(50, 50, 50);
}

.menu {
	cursor: pointer;
}

.space {
	padding-left: 10px;
}

.head {
	background: linear-gradient(to right bottom,rgba(0, 0, 0), rgba(50, 50, 50));
	transition: background 3s;
}

.hidden {
	display: none;
}

/*imagem*/
@media screen and (max-width: 1275px) {
	.photo {
		display: none;
	}  
}

/*perfil*/
@media screen and (max-width: 600px) {
	.card {
		display: none;
	}  
}