#images

img/certificado python.jpg
img/Certificate.pdf
img/javascript.jpg
img/python.jpg
img/0001.jpg
img/cgames.jpg
img/espanhol.jpg
img/ingles-2.jpg
img/php.jpg
img/wer.jpg

#minify
css/*
css/galeria.css
css/mais.css